# Planck Split board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_PLANCK_LEFT
    bool "PLANCK ortholinear 4x6 split keyboard (left)"
    depends on SOC_NRF52840_QIAA



config BOARD_PLANCK_RIGHT
    bool "PLANCK ortholinear 4x6 split keyboard (right)"
    depends on SOC_NRF52840_QIAA
