#
# Clock (RC 模式，无 32k 晶振)
#
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=n

#
# ZMK core
#
CONFIG_ZMK_BLE=y
# 右手不启用 USB
# CONFIG_ZMK_USB is not set

#
# Build / Flash
#
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_USE_DT_CODE_PARTITION=y

CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y

#
# System
#
CONFIG_ARM_MPU=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_LOG_PROCESS_THREAD_STARTUP_DELAY_MS=4000

#
# Input devices
#
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

#
# GPIO / Pin control
#
CONFIG_GPIO=y
CONFIG_PINCTRL=y
