# SPDX-License-Identifier: MIT
# Planck Split Right (Peripheral) - nRF52840

#
# Clock - 使用内部 RC 振荡器并启用校准
#
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC_CALIBRATION=y

#
# ZMK Core - 右手作为外围设备
#
CONFIG_ZMK_BLE=y
CONFIG_ZMK_EXT_POWER=y

#
# Build / Flash
#
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_USE_DT_CODE_PARTITION=y

#
# Storage
#
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y

#
# System
#
CONFIG_ARM_MPU=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y

#
# Input - Encoder
#
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

#
# GPIO / Pin control
#
CONFIG_GPIO=y
CONFIG_PINCTRL=y
