/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#include "include/layers.h"
#include "include/macros.dtsi"
#include "include/behaviors.dtsi"

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1250
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

#define U_MOUSE_MOVE_EXPONENT 1
#define U_MOUSE_MOVE_TIME 1500
#define U_MOUSE_MOVE_DELAY 0

&mmv {
    acceleration-exponent = <U_MOUSE_MOVE_EXPONENT>;
    time-to-max-speed-ms = <U_MOUSE_MOVE_TIME>;
    delay-ms = <U_MOUSE_MOVE_DELAY>;
};

#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = < 
&to FUN    &kp Q       &kp W       &kp E        &kp R        &kp T            &kp Y              &kp U            &kp I            &kp O            &kp P            &to NAV
&kp CAPS   &um LGUI A  &um LALT S  &um LCTRL D  &um LSHFT F  &kp G            &kp H              &um LSHFT J      &um LCTRL K      &um LALT L       &um LGUI SEMI    &kp SQT
&kp LSHFT  &kp Z       &um RALT X  &kp C        &kp V        &kp B            &kp N              &kp M            &kp COMMA        &um RALT DOT     &kp SLASH        &kp RSHFT
&kp LCTRL  &kp LALT    &kp LGUI    &ul MEDIA ESC &ul NAV SPACE &ul MOUSE TAB  &ul SYM RET        &ul NUM BSPC     &ul FUN DEL      &kp RGUI         &kp RALT         &kp RCTRL
            >;
        };

        nav_layer {
            bindings = <
&to BASE   &sys_reset  &none       &none        &none        &none            &kp K_AGAIN        &kp K_PASTE      &kp K_COPY       &kp K_CUT        &kp K_UNDO       &to MOUSE
&kp CAPS   &kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &none            &caps_word         &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp SQT
&kp LSHFT  &none       &kp RALT    &none        &none        &none            &kp INS            &kp HOME         &kp PG_DN        &kp PG_UP        &kp END          &kp RSHFT
&kp LCTRL  &kp LALT    &kp LGUI    &none        &none        &none            &kp RET            &kp BSPC         &kp DEL          &kp RGUI         &kp RALT         &kp RCTRL
            >;
        };

        mouse_layer {
            bindings = <
&to NAV    &sys_reset  &none       &none        &none        &none            &kp K_AGAIN        &kp K_PASTE      &kp K_COPY       &kp K_CUT        &kp K_UNDO       &to MEDIA
&kp CAPS   &kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &none            &none              &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_UP     &mmv MOVE_RIGHT  &kp SQT
&kp LSHFT  &none       &kp RALT    &none        &none        &none            &none              &msc SCRL_LEFT   &msc SCRL_DOWN   &msc SCRL_UP     &msc SCRL_RIGHT  &kp RSHFT
&kp LCTRL  &kp LALT    &kp LGUI    &none        &none        &none            &mkp RCLK          &mkp LCLK        &mkp MCLK        &kp RGUI         &kp RALT         &kp RCTRL
            >;
        };

        media_layer {
            bindings = <
&to MOUSE  &sys_reset  &none       &none        &none        &none            &rgb_ug RGB_TOG    &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &to NUM
&kp CAPS   &kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &none            &ext_power EP_TOG  &kp C_PREV       &kp C_VOL_DN     &kp C_VOL_UP     &kp C_NEXT       &kp SQT
&kp LSHFT  &none       &kp RALT    &none        &none        &none            &out OUT_TOG       &u_bt_sel_0      &u_bt_sel_1      &u_bt_sel_2      &u_bt_sel_3      &kp RSHFT
&kp LCTRL  &kp LALT    &kp LGUI    &none        &none        &none            &kp C_STOP         &kp C_PP         &kp C_MUTE       &kp RGUI         &kp RALT         &kp RCTRL
            >;
        };

        num_layer {
            bindings = <
&to MEDIA  &kp LBKT    &kp N7      &kp N8       &kp N9       &kp RBKT         &none              &none            &none            &none            &sys_reset       &to SYM
&kp CAPS   &kp SEMI    &kp N4      &kp N5       &kp N6       &kp EQUAL        &none              &kp LSHFT        &kp LCTRL        &kp LALT         &kp LGUI         &kp SQT
&kp LSHFT  &kp GRAVE   &kp N1      &kp N2       &kp N3       &kp BSLH         &none              &none            &none            &kp RALT         &none            &kp RSHFT
&kp LCTRL  &kp LALT    &kp LGUI    &kp DOT      &kp N0       &kp MINUS        &none              &none            &none            &kp RGUI         &kp RALT         &kp RCTRL
            >;
        };

        sym_layer {
            bindings = <
&to NUM    &kp LBRC    &kp AMPS    &kp ASTRK    &kp LPAR     &kp RBRC         &none              &none            &none            &none            &sys_reset       &to FUN
&kp CAPS   &kp COLON   &kp DLLR    &kp PRCNT    &kp CARET    &kp PLUS         &none              &kp LSHFT        &kp LCTRL        &kp LALT         &kp LGUI         &kp SQT
&kp LSHFT  &kp TILDE   &kp EXCL    &kp AT       &kp HASH     &kp PIPE         &none              &none            &none            &kp RALT         &none            &kp RSHFT
&kp LCTRL  &kp LALT    &kp LGUI    &kp LPAR     &kp RPAR     &kp UNDER        &none              &none            &none            &kp RGUI         &kp RALT         &kp RCTRL
            >;
        };

        fun_layer {
            bindings = <
&to SYM    &kp F12     &kp F7      &kp F8       &kp F9       &kp PSCRN        &none              &none            &none            &none            &sys_reset       &to BASE
&kp CAPS   &kp F11     &kp F4      &kp F5       &kp F6       &kp SLCK         &none              &kp LSHFT        &kp LCTRL        &kp LALT         &kp LGUI         &kp SQT
&kp LSHFT  &kp F10     &kp F1      &kp F2       &kp F3       &kp PAUSE_BREAK  &none              &none            &none            &kp RALT         &none            &kp RSHFT
&kp LCTRL  &kp LALT    &kp LGUI    &kp K_APP    &kp SPC      &kp TAB          &none              &none            &none            &kp RGUI         &kp RALT         &kp RCTRL
            >;
        };
    };
};
