# Planck Split board configuration

if BOARD_PLANCK_LEFT

config ZMK_KEYBOARD_NAME
    default "Planck Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_PLANCK_LEFT

if BOARD_PLANCK_LEFT || BOARD_PLANCK_RIGHT

config ZMK_SPLIT
    default y

if USB
config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y
endif # USB

endif # BOARD_PLANCK_LEFT || BOARD_PLANCK_RIGHT
