# SPDX-License-Identifier: MIT

# 时钟：内部 RC 振荡器 + 校准
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC_CALIBRATION=y

# 核心功能
CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

# 构建输出
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_USE_DT_CODE_PARTITION=y

# PWM LED
CONFIG_PWM=y
CONFIG_LED=y
CONFIG_LED_PWM=y

# ZMK Studio
CONFIG_ZMK_STUDIO=y
CONFIG_ZMK_STUDIO_LOCKING=n
